<p>
  {{localize
    "FindTheCulprit.BinarySearchStep.StatsData"
    currentStep=currentStep
    numRemaining=numRemaining
    stepsLeft=stepsLeft
  }}
</p>
<ul class="ftc-module-list">
  {{#each active}}
    <li data-tooltip="{{localize 'FindTheCulprit.CurrentlyActive'}}">
      <i class="fa-solid fa-check module-active"></i>
      <label class="checkboxless">{{ftc-modTitle this}}</label>
    </li>
  {{/each}}
  {{#each inactive}}
    <li data-tooltip="{{localize 'FindTheCulprit.CurrentlyInactive'}}">
      <i class="fa-regular fa-square module-inactive"></i>
      <label class="checkboxless">{{ftc-modTitle this}}</label>
    </li>
  {{/each}}
  {{#each selected}}
    <li data-tooltip="{{localize 'FindTheCulprit.SelectedModuleTooltip'}}">
      <i class="fa-solid fa-lock module-selected"></i>
      <label class="checkboxless">{{ftc-modTitle this}}</label>
    </li>
  {{/each}}
</ul>
<p>{{localize "FindTheCulprit.StartOfRun.DoesIssuePersist"}}</p>