<p>
  {{localize
    "FindTheCulprit.BinarySearchStep.StatsData"
    currentStep=currentStep
    numRemaining=numRemaining
    stepsLeft=stepsLeft
  }}
</p>
<ul class="ftc-module-list">
  {{log this}}
  {{#each groups as |list group|}}
    {{#each list}}
    <li>
      <div class="tooltip-wrapper" data-tooltip="{{localize (concat "FindTheCulprit.StateTooltip." @../key)}}" data-tooltip-direction="LEFT">
        <button type="button" data-state="{{@../key}}" disabled>
          <i class="{{lookup @root.icons @../key}}"></i>
        </button>
      </div>
      <label>{{ftc-modTitle id}}</label>
    </li>
    {{/each}}
  {{/each}}
  
</ul>
<span class="ftc-prompt">{{localize "FindTheCulprit.StartOfRun.DoesIssuePersist"}}</span>
