{{#if (gt remainingSteps 0)}}
<p>
  {{~localize
    "FindTheCulprit.BinarySearchStep.StatsData"
    currentStep=currentStep
    numRemaining=numRemaining
    remainingSteps=remainingSteps
  ~}}
</p>
{{else}}
<p class="confirm-step">
  {{~localize "FindTheCulprit.BinarySearchStep.ConfirmStep" culprit=groups.active.[0].title~}}
</p>
{{/if}}
<ul class="ftc-module-list">
  {{#each groups}}
    {{#each this}}
    <li>
      <div class="tooltip-wrapper" data-tooltip="{{localize (concat "FindTheCulprit.StateTooltip." @../key)}}" data-tooltip-direction="LEFT">
        <button class="ftc-state-button display-only" type="button" data-ftc-state="{{@../key}}" disabled>
          <i class="fa-solid {{lookup @root.icons.module @../key}}"></i>
        </button>
      </div>
      <label>{{title}}</label>
    </li>
    {{/each}}
  {{/each}}
  
</ul>
<span class="ftc-prompt">{{localize "FindTheCulprit.StartOfRun.DoesIssuePersist"}}</span>
