<div class="specificity">
  <p>
    {{~localize "FindTheCulprit.SelectMods.Prompt"~}}
  </p>  
  <input type="text" name="search" placeholder="Filter Modules" value="" />
  <ul class='ftc-module-list ftc-module-chooser'>
    {{#each activeModules}}
    <li data-module="{{id}}">
      <label class="ftc-lock-container" data-tooltip="{{localize (ftc-lockTooltip locked @root.lockLibraries.value library)}}">
        <input class="lock-btn hidden" type="checkbox" name="locks.{{id}}" {{checked locked}} {{disabled (and @root.lockLibraries.value library)}} />
        <i class="fa-solid fa-lock{{#unless locked}}-open{{/unless}}"></i>
      </label>
      <span>
        <input class="ftc-checkbox" type="checkbox" name="modules.{{id}}" id="ftc2-selectmods-{{id}}" {{checked (or locked selected)}} {{#if locked}}disabled data-tooltip="{{localize "FindTheCulprit.SelectMods.DisabledBecauseLocked"}}"{{/if}}/>
      </span>
      <label class="package-title" for="ftc2-selectmods-{{id}}" data-tooltip="<code>{{id}}</code>"> 
        {{title}}
      </label>
    </li>
    {{/each}}              
  </ul>
  <div class="button-row">
    <button type="button" data-action="clearAll" data-tooltip="{{localize "FindTheCulprit.SelectMods.Action.clearAll.Tooltip"}}">
      <i class="fa-solid fa-arrow-rotate-left"></i>
      <span>{{localize "FindTheCulprit.SelectMods.Action.clearAll.Label"}}</span>
    </button>
    <button type="button" data-action="lockLibraries" data-tooltip="{{localize (ftc-actionTooltip "lockLibraries" lockLibraries.value)}}">
      <i class="fa-solid {{lockLibraries.icon}}"></i>
      <span>{{localize (ftc-actionLabel "lockLibraries" lockLibraries.value)}}</span>
    </button>
    <button type="button" data-action="reloadAll" data-tooltip="{{localize (ftc-actionTooltip "reloadAll" reloadAll.value)}}">
      <i class="fa-solid {{reloadAll.icon}}"></i>
      <span>{{localize (ftc-actionLabel "reloadAll" reloadAll.value)}}</span>
    </button>
  </div>
  <p>{{localize "FindTheCulprit.SelectMods.Usage.P1"}}</p>
  <p>{{localize "FindTheCulprit.SelectMods.Usage.P2"}}</p>
  <p>{{localize "FindTheCulprit.SelectMods.Usage.P2"}}</p>
  <footer class="form-footer">
    <button type="submit" data-action="start">
      <i class="fa-solid fa-check"></i>
      <span>{{localize "FindTheCulprit.Start"}}</span>
    </button>
    <button type="button" data-action="close">
      <i class="fa-solid fa-xmark"></i>
      <span>{{localize "Cancel"}}</span>
    </button>
  </footer>
</div>