<h2 class="culprit-header">{{localize (concat "FindTheCulprit.FoundTheCulprit.Header" (ifThen pinned.length "Uncertain" ""))}}</h2>
{{#if pinned.length}}
  <p>{{localize "FindTheCulprit.FoundTheCulprit.HasPinned" count=pinned.length}}</p>
{{/if}}
<ul class="ftc-module-list">
  <li>
    <div
      class="tooltip-wrapper"
      data-tooltip="{{localize 'FindTheCulprit.StateTooltip.culprit'}}"
      data-tooltip-direction="LEFT"
    >
      <button type="button" data-state="culprit" disabled>
        <i class="fa-solid {{lookup @root.icons 'culprit'}}"></i>
      </button>
    </div>
    <label>{{culprit}}</label>
  </li>
  {{#each pinned}}
    <li>
      <div
        class="tooltip-wrapper"
        data-tooltip="{{localize 'FindTheCulprit.StateTooltip.pinned'}}"
        data-tooltip-direction="LEFT"
      >
        <button type="button" data-state="pinned" disabled>
          <i class="fa-solid {{lookup @root.icons 'pinned'}}"></i>
        </button>
      </div>
      <label>{{this}}</label>
    </li>
  {{/each}}
</ul>