<fieldset class="module-states">
  <legend>Module States</legend>
  <div>
    <button type="button" class="ftc-state-button" data-state="suspect" disabled>
      <i class="fa-solid {{icons.module.suspect}}"></i>
    </button>
    <label>{{{localize "FindTheCulprit.StateTooltip.suspect"}}}</label>
  </div>
  <div>
    <button type="button" class="ftc-state-button" data-state="pinned" disabled>
      <i class="fa-solid {{icons.module.pinned}}"></i>
    </button>
    <label>{{{localize "FindTheCulprit.StateTooltip.pinned"}}}</label>
  </div>
  <div>
    <button type="button" class="ftc-state-button" data-state="excluded" disabled>
      <i class="fa-solid {{icons.module.excluded}}"></i>
    </button>
    <label>{{{localize "FindTheCulprit.StateTooltip.excluded"}}}</label>
  </div>
</fieldset>
<ul class="instructions">
  <li>
    {{localize "FindTheCulprit.Instructions.Controls"}}
  </li>
  <li>
    {{{localize "FindTheCulprit.Instructions.Tooltips"}}}
  </li>
  <li>
    {{{localize "FindTheCulprit.Instructions.Usage"}}}
  </li>
  <li>
    {{{localize "FindTheCulprit.Instructions.Disclaimer"}}}
  </li>
  <li>
    {{{localize "FindTheCulprit.Instructions.Reassurance"}}}
  </li>
</ul>