
<p>{{~localize "FindTheCulprit.IPWOS.BlameCoreOrSystem"~}} 
{{~#if pinned.length~}}
  {{~localize "FindTheCulprit.IPWOS.BlameModules"~}}</p>  
  <ul class="ftc-module-list">
    {{#each pinned}}
      <li>
        <button data-state="pinned" disabled>
          <i class="fa-solid {{@root.icon}}"></i>
        </button>
        <label>{{this}}</label>
      </li>
    {{/each}}
  </ul>
{{~else~}}
  .</p>
{{~/if~}}