
<div class="specificity">
  <p>{{~localize "FindTheCulprit.IPWOP.BlameCoreOrSystem"~}} 
  {{~#if pinned.length~}}
  {{~localize "FindTheCulprit.IPWOP.BlameModules"~}}</p>  
  <ul class="ftc-module-list">
    {{#each pinned}}
    <li>
      <div class="tooltip-wrapper" data-tooltip="<p>{{localize "FindTheCulprit.StateTooltip.pinned"}}</p>" data-tooltip-class="ftc-module-tooltip" data-tooltip-direction="LEFT">
        <button class="ftc-state-button display-only" data-ftc-state="pinned" disabled>
          <i class="fa-solid {{@root.icon}}"></i>
        </button>
      </div>
      <label>{{this}}</label>    
    </li>
    {{/each}}
  </ul>
  {{~else~}}
  .</p>
  {{~/if~}}
</div>