<div class="specificity">
  {{log this}}
  <p>Pin any modules that you want to stay active throughout the search.<br>
  Any modules set to <em>excluded</em> will be deactivated for the entire search (they will be reactivated after).</p>
  <input type="text" name="search" placeholder="Filter Modules" value="" />
  <ul class="ftc-module-list">
    {{#each modules}}
      <li data-module="{{id}}"{{#if hidden}} class="ftc-hidden"{{/if}} >
        <div class="tooltip-wrapper" data-tooltip="{{> moduleTooltip this~}}" data-tooltip-class="ftc-module-tooltip" data-tooltip-direction="LEFT">
          <button type="button" id="find-the-culprit-toggle-{{id}}" data-action="cycle" data-state="{{state}}" {{disabled (eq state "forced")}}>
            <i class="{{icon}}"></i>
          </button>
        </div>
        <label class="module-title" {{#unless (eq state "forced")}}for="find-the-culprit-toggle-{{id}}"{{/unless}}>
          {{~title~}}
        </label>
      </li>
    {{/each}}
  </ul>
  <div class="button-row">
    <button
      type="button"
      data-action="clearAll"      
      data-tooltip="{{localize 'FindTheCulprit.SelectMods.Action.clearAll.Tooltip'}}"
    >
      <i class="fa-solid fa-arrow-rotate-left"></i>
      <span>{{localize "FindTheCulprit.SelectMods.Action.clearAll.Label"}}</span>
    </button>
    <button
      type="button"
      data-action="lockLibraries"
      data-tooltip="{{localize (ftc-actionTooltip 'lockLibraries' lockLibraries.value)}}"
    >
      <i class="{{lockLibraries.icon}}"></i>
      <span>{{localize (ftc-actionLabel "lockLibraries" lockLibraries.value)}}</span>
    </button>
    <button
      type="button"
      data-action="reloadAll"
      data-tooltip="{{localize (ftc-actionTooltip 'reloadAll' reloadAll.value)}}"
    >
      <i class="{{reloadAll.icon}}"></i>
      <span>{{localize (ftc-actionLabel "reloadAll" reloadAll.value)}}</span>
    </button>
  </div>
  <footer class="form-footer">
    <button type="submit" data-action="start">
      <i class="fa-solid fa-check"></i>
      <span>{{localize "FindTheCulprit.Start"}}</span>
    </button>
    <button type="button" data-action="close">
      <i class="fa-solid fa-xmark"></i>
      <span>{{localize "Cancel"}}</span>
    </button>
  </footer>
</div>

{{~#*inline "moduleTooltip"~}}
  {{~#if (eq state "forced")~}}
    {{localize "FindTheCulprit.SelectMods.ModuleTooltip.Preamble"}}
    <ul>
      {{#if pinnedDependants}}<li>{{localize "FindTheCulprit.SelectMods.ModuleTooltip.DependencyOf" pinnedDependants=pinnedDependants}}</li>{{/if}}
      {{#if isLockedLibrary}}<li>{{localize "FindTheCulprit.SelectMods.ModuleTooltip.LockedLibrary"}}</li>{{/if}}
    </ul>
  {{else}}
    {{localize (concat "FindTheCulprit.StateTooltip." state)}}
  {{/if}}
{{~/inline~}}
