<div class="specificity">
  <div class="button-row">
    <button type="button" data-action="instructions" data-tooltip="{{ftcActionTooltip "instructions"}}">
      <i class="fa-solid {{icons.instructions}}"></i>
      <span>{{ftcActionLabel "instructions"}}</span>
    </button>
    <button class="minimal" type="button" data-action="deterministic" data-tooltip="{{ftcActionTooltip "deterministic"}}">
      <i class="fa-solid {{lookup icons.deterministic deterministic}}"></i>
      <span>{{ftcActionLabel "deterministic"}}</span>
    </button>
    <button type="button" data-action="mute" data-tooltip="{{ftcActionTooltip "mute"}}">
      <i class="fa-solid {{lookup icons.mute mute}}"></i>
    </button>
  </div>
  <input type="text" name="search" placeholder="{{localize "FindTheCulprit.SelectMods.FilterModules"}}" value="">
  <ul class="ftc-module-list">
    {{#each modules}}
      <li data-module="{{id}}"{{#if hidden}} class="hidden"{{/if}}>
        <div class="tooltip-wrapper" data-tooltip="{{> moduleTooltip this~}}" data-tooltip-class="ftc-module-tooltip" data-tooltip-direction="LEFT">
          <button class="ftc-state-button" type="button" id="find-the-culprit-cycle-{{id}}" data-action="cycle" data-ftc-state="{{state}}" {{disabled forced}}>
            <i class="fa-solid {{lookup @root.icons.module state}}"></i>
            {{#if forced}}<i class="fa-solid fa-lock corner-icon"></i>{{/if}}
          </button>
        </div>
        <label class="module-title" {{#unless forced}}for="find-the-culprit-cycle-{{id}}"{{/unless}}>
          {{~title~}}
        </label>
      </li>
    {{/each}}
  </ul>
  <div class="button-row">
    <button type="button" data-action="clearAll" data-tooltip="{{ftcActionTooltip "clearAll"}}">
      <i class="fa-solid {{icons.clearAll}}"></i>
      <span>{{ftcActionLabel "clearAll"}}</span>
    </button>
    {{log actionTooltip}}
    <button type="button" data-action="lockLibraries" data-tooltip="{{ftcActionTooltip "lockLibraries"}}">
      <i class="fa-solid {{lookup icons.lockLibraries lockLibraries}}"></i>
      <span>{{ftcActionLabel "lockLibraries"}}</span>
    </button>
    <button type="button" data-action="reloadAll" data-tooltip="{{ftcActionTooltip "reloadAll"}}">
      <i class="fa-solid {{lookup icons.reloadAll reloadAll}}"></i>
      <span>{{ftcActionLabel "reloadAll"}}</span>
    </button>
  </div>
  <footer class="form-footer">
    <button type="button" data-action="startRun" data-tooltip="{{ftcActionTooltip "startRun"}}">
      <i class="fa-solid {{icons.startRun}}"></i>
      <span>{{ftcActionLabel "startRun"}}</span>
    </button>
    <button type="button" data-action="zeroMods" data-tooltip="{{ftcActionTooltip "zeroMods"}}">
      <i class="fa-solid {{icons.zeroMods}}"></i>
      <span>{{ftcActionLabel "zeroMods"}}</span>
    </button>
  </footer>
</div>

{{~#*inline "moduleTooltip"~}}
  {{{localize (concat "FindTheCulprit.StateTooltip." state)}}}
  {{~#if forced~}}
  <div>
    {{~localize "FindTheCulprit.SelectMods.ForcedTooltip.Preamble"~}}
    <ul>
    {{~#if (eq state "pinned")~}}      
      {{~#if pinnedDependants.size}}<li>{{localize "FindTheCulprit.SelectMods.ForcedTooltip.DependencyOf" pinnedDependants=pinnedDependantsFormatted}}</li>{{/if}}
      {{#if isLockedLibrary}}<li>{{localize "FindTheCulprit.SelectMods.ForcedTooltip.LockedLibrary"}}</li>{{/if}}      
    {{~else if (eq state "excluded")~}}
      <li>{{localize "FindTheCulprit.SelectMods.ForcedTooltip.ExcludedDependencies" excludedDependencies=excludedDependenciesFormatted}}</li>
    {{~/if~}} 
    </ul> 
  </div>
  {{~/if~}}
{{~/inline~}}
