<div>
  <p>
    {{~#if anyPinned}}
      {{localize "FindTheCulprit.StartOfRun.AllButPinnedDeactivated"}}
    {{~else}}
      {{localize "FindTheCulprit.StartOfRun.AllModulesDeactivated"}}
    {{~/if}}
    {{localize "FindTheCulprit.StartOfRun.MaxSteps" maxSteps=maxSteps}}
  </p>
  <span class="ftc-prompt">{{localize "FindTheCulprit.StartOfRun.DoesIssuePersist"}}</span>
</div>